.form-box9 {
  border-radius: 20px;
  height: 60%;
  width: 50%;
  max-width: 350px;
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  opacity: 90%;
  padding: 50px 60px 70px;
  text-align: center;
}
.signInlogo {
  margin-top: -12px;
}

.input-group2 {
  margin-top: 18vh;
  display: flex;
  flex-direction: column;
}

.input-group2 input {
  background: #eaeaea;
  width: 100%;
  border-radius: 3px;
}

/* .input-group2 .error {
    margin-top: 15px;
    color: red;
  } */
  .btn-field2 {
    margin-top: 20px; /* Adjust as needed for spacing */
    display: flex;
    justify-content: center;
}

.btn-field2 button, .btn-field2 a {
    margin-bottom: 100px; /* Adjust as needed for spacing between reset button and login/register */
}


.btn-field2 button {
  width: 120px;
  background: #00e5ee;
  color: #fff;
  font-size: 17px;
  height: 50px;
  border-radius: 20px;
  border: 0;
  outline: 0;
  cursor: pointer;
  transition: background 0.3s;
  margin: 0 5px; /* Adjust as needed for spacing between buttons */
}

#reset {
  width: 200px;
  margin-bottom: 20px; /* Adjust as needed for spacing between reset button and login/register buttons */
}

.spacer {
  margin: 0 15px; /* Adjust as needed for spacing */
}


.form-box9 h1 {
  top: 26px;
  font-size: 30px;
  margin-bottom: -56px;
  color: #00e5ee;
  opacity: 0.8;
  position: relative;
}

.form-box9 h1::after {
  content: "";
  width: 30px;
  height: 4px;
  border-radius: 3px;
  background: #00e5ee;
  position: absolute;
  bottom: -12px;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
}

#email {
  width: 100%;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 7px;
  font-size: 16px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.d-flex .lo .re {
  justify-content: space-between;
}
